<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxfdwb1MRWxN3n4IQ9F2RkWFwHKweYdrk</string>
	<key>GCM_SENDER_ID</key>
	<string>688465903436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cotiznow</string>
	<key>PROJECT_ID</key>
	<string>cotiznow-a609d</string>
	<key>STORAGE_BUCKET</key>
	<string>cotiznow-a609d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688465903436:ios:b66132ecf04fe3e6a9d9e9</string>
</dict>
</plist>